    body{
	  background-color : FFE875;
	}
	canvas {
      border: 1px solid black;
	}
	img {
      display: none;
    }
   .WeightEntryForm{
     display: grid;
	 grid-template-columns: minmax(auto,20rem) minmax(auto,20rem);
     grid-gap: .5rem;
   }
   .gearCheckBox{
     background-color: #FFFFFF;
     grid-column: 1/3;
     grid-row: 1;
   }
   .pilotInput{
     background-color: FFFFFF;

   }
   .passInput{
     background-color: FFFFFF;
   }
   .baggageInput{
     background-color: FFFFFF;
   }
   .mainFuelInput{
     background-color: FFFFFF;
   }
   .wingFuelInput{
     background-color: FFFFFF;
   }
   .oilInput{
     background-color: FFFFFF;
   }
   .fuelUsedInput{
     background-color: FFFFFF;
	 display: grid;
	 grid-template-columns: 1fr;
   }
   
   @media only screen and (max-width: 700px) {

     .WeightEntryForm{
       grid-template-columns: minmax(auto,20rem);
     }
	 .gearCheckBox{
       grid-column: 1;
     }
   }











